.mainPage {
    max-width: 900px;
    min-height: 600px;
    background-color: @bg-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px;
    color: @text-black;
    .page {
        width: 100%;
    }
}