head {
    width: 1000px;
}

body {
    margin: 0;
    font-family: "Ubuntu", "source-sans-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: #1C2733;
}

#container {
    height: inherit;
}

.containerlarge {
    width: 100%;
}

.containersmall {
    width: 1000px;
}

#maintopbar {
    position: fixed;
    width: 100%;
    height: 355px;
    margin: 0px 0px 0px 0px;
    top: 0px;
    background-color: #19232E;
    opacity 0.1;
    z-index: 1;
    color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #000000;
    background-image: url(/images/bw01b.jpg);
    background-position: 0px 38%;
    background-repeat: no-repeat;
}

#sitename {
    position: absolute;
    white-space: pre;
    padding: 0px;
    font-size: 28px;
    text-align: center;
    margin: 161px 0px 0px 57px;
    padding: 0px 0px 0px 0px;
    color: #FFFFFF;
    top: 0px;
    left: 15px;
    z-index: 2;
    font-family: 'Menlo';
}

#sitename a:visited, a:link {
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
}

#maintopbar ul {
    list-style: none;
    margin: 0px;
    height: 45px;
    z-index: 1;
    padding: 0px 20px 0px 0px;
}

#maintopbar li {
    font-weight: 400;
    padding: 0px 10px 0px 10px;
    margin: 7.5px 0px 0px 0px;
    float: right;
    height: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

.maintopbarcurrentpage p{
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}

.maintopbarcurrentpage p:hover{
    background-color: rgba(200, 200, 200, 0.1);
}



.maintopbarotherpage p { 
    border-width: 1px;
    border-style: solid;
    border-color: rgba(200, 200, 200, 0);
}

#maintopbar li p {
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

#maintopbar li a:visited {
    color: #FFFFFF;
}

#maintopbar li p:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

#sidebarbg {
    width: inherit;
    height: 3100px;
    margin: 0px 0px 0px 0px;
    float: left;
}

#mainpart {
    padding: 0px 0px 0px 0px;
    margin: 345px 0px 0px 183px;
    float: left;
    width: calc(70% - 200px);
}

#mainpartinner {
    width: 100%;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

.mainparttitle {
    width: 100%;
    background-color: #DADCDA;
    
    border-width: 1px 0px 1px 0px;
    border-style: solid solid solid solid;
    border-color: rgba(100,100,100,0.3);
}

.mainparttitle p {
    opacity: 1;
    font-size: 2.1em;
    font-weight: 300;
    padding: 0px;
    margin: 4px 0px 4px 30px;
    color: #000000;
    text-align: center
}

.mainpartcontent {
    background-color: #FFFFFF;
    padding: 1px 0px 1px 0px;
    margin: 0px 0px 20px 0px;
}

.mainpartcontent p {
    font-size: 1em;
    margin: 20px;
    font-weight: 300;
    
}

.poemtitle {
    width: calc(100% - 250px);
    background-color: #FFFFFF;
    margin: 20px 0px 0px 125px;
    border-width: 1px 0px 0px 0px;
    border-style: solid solid solid solid;
    border-color: rgba(100,100,100,0.3);
}

.poemtitle p {
    opacity: 1;
    font-size: 1.5em;
    font-weight: 300;
    padding: 4px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    color: #000000;
    text-align: center;
    background-color: #DADCDA;
}

.poemsubtitle {
    width: calc(100% - 250px);
    background-color: #FFFFFF;
    margin: 0px 0px 0px 125px;
    border-width: 1px 0px 1px 0px;
    border-style: solid solid solid solid;
    border-color: rgba(100,100,100,0.3);
}

.poemsubtitle p {
    opacity: 1;
    font-size: 1em;
    font-weight: 300;
    padding: 4px 0px 4px 0px;
    margin: 0px 0px 0px 0px;
    color: #000000;
    text-align: center
}

.poemcontent {
    background-color: #DADCDA;
    padding: 10px 0px 10px 0px;
    width: calc(100% - 250px);
    margin: 0px 0px 20px 125px;
}

.poemcontent p {
    font-size: 1.2em;
    margin: 20px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0px 10px 0px;
}




#lowbar {
    position: static;
    float: left;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 31px;
    background-color: #222222;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
    border-top: 1px solid rgba(150,150,150,1);
}

#lowbar p {
    padding: 8px 0px 0px 0px;
}

#lowbarcopy {
    margin: 0px 0px 0px 10px;
    padding: 5px 0px 0px 0px;
    font-size: 0.9em;
    float: left;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
}

#lowbaremail {
    margin: 0px 20px 0px 0px;
    padding: 5px 0px 0px 0px;
    float: right;
}












