head {
    width: 1000px;
}

body {
    margin: 0;
    font-family: "Ubuntu", "source-sans-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: #1C2733;
}

#container {
    height: inherit;
}

.containerlarge {
    width: 100%;
}

.containersmall {
    width: 1000px;
}

#maintopbar {
    position: fixed;
    width: 100%;
    height: 255px;
    margin: 0px 0px 0px 0px;
    top: 0px;
    opacity 0.1;
    z-index: 1;
    color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #000000;
    background-size: cover;
    background-image: url(/images/bw01b.jpg);
    background-position: 0px 38%;
    background-repeat: no-repeat;
}

#sitename {
    position: absolute;
    white-space: pre;
    padding: 0px;
    font-size: 28px;
    text-align: center;
    margin: 161px 0px 0px 57px;
    padding: 0px 0px 0px 0px;
    color: #FFFFFF;
    top: 0px;
    left: 15px;
    z-index: 2;
    font-family: 'Menlo';
}

#sitename a:visited, a:link {
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
}

#maintopbar ul {
    list-style: none;
    margin: 0px;
    height: 45px;
    z-index: 1;
    padding: 0px 20px 0px 0px;
}

#maintopbar li {
    font-weight: 400;
    padding: 0px 10px 0px 10px;
    margin: 7.5px 0px 0px 0px;
    float: right;
    height: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

.maintopbarcurrentpage p{
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}

.maintopbarcurrentpage p:hover{
    background-color: rgba(200, 200, 200, 0.1);
}



.maintopbarotherpage p { 
    border-width: 1px;
    border-style: solid;
    border-color: rgba(200, 200, 200, 0);
}

#maintopbar li p {
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

#maintopbar li a:visited {
    color: #FFFFFF;
}

#maintopbar li p:hover{
    background-color: rgba(255, 255, 255, 0.15);
}



#codejoke {
    position: absolute;
    width: 1000px;
    white-space: pre;
    margin-left: 0px;
    padding: 0px;
    z-index: -1;
    left: 0px;
    z-index: 2;
}

#codejoke p {
    font-size: 30px;
    text-align: center;
    white-space: pre;
    width: 950px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.codestyleaction {
    color: #FDB309;
    opacity: 0.6;
}

.codestyleprefix {
    color: #BBB;
    opacity: 0.6;
}

.codestylestring {
    color: #FFFF00;
    opacity: 0.7;
}

.codestylekey {
    color: #FFF;
    opacity: 0.6;
}

#sidebarbg {
    width: inherit;
    height: 0px;
    margin: 0px 0px 0px 0px;
    width: 100px;
    float: left;
}

#sidebar {
    position: fixed;
    width: 181px;
    height: 100%;
    margin: 0px 0px 0px 0px;
    float: left;
        
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
}

#filters {
    margin: 15px 0px 5px 0px;
    background-color: #FFFFFF;
    width: 100%;
    float: left;
}

.sidetitle {
    font-size: 1.1em;

    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 100%;
    float: left;
    background-color: #FFFFFF;
    border-bottom: 1px solid #BBB;
}

.catfilter {
    width: inherit;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
}

.catfilter input {
    float: left;
    width: 100%;
    margin: 3px 8px 0px 8px;
}

.catfilter p {
    margin: 0px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    display: block;
    padding: 6px 5px 4px 8px;
    margin: 0;
    cursor: pointer;
    float: left;
    width: calc(100% - 13px);
    border-bottom: 1px solid #DDD;
}

input[type="checkbox"] + label span {
    display: inline-block;
    margin: -2px 7px 0 0px;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    background-size: 23px 23px;
    opacity: 0.2;
}

input[type="checkbox"]:checked + label span {
    opacity: 1;
}

#cb1[type="checkbox"] + label span {
    background-image: url(/images/internet_small.png);
}

#cb2[type="checkbox"] + label span {
    background-image: url(/images/mobile_small.png);
}

#cb3[type="checkbox"] + label span {
    background-image: url(/images/pc_small.png);
}

#cb4[type="checkbox"] + label span {
    background-image: url(/images/em_small.png);
}

#filtertext {
    width: 147px;
    margin: 7px 0px 7px 9px;
    padding: 6px 7px 5px 7px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC;
    font-family: 'ubuntu';
}

#projectlisthead {
    background-color: #FFFFFF;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 1.1em;
    margin: 5px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    
    border-bottom-color: #AAAAAA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#projectlist {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: inherit;
    padding: 0px;
    float: left;
    cursor: pointer;
    background-color: #FFF;
}

.projectlistitem {
    list-style: none;
    width: inherit;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    
    border-bottom-color: #DDD;
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.projectlistname {
    font-size: 1em;
    font-weight: 300;
    width: calc(100% - 20px);
    margin: 0px 0px 0px 0px;
    padding: 7px 0px 7px 0px;
}

.projectlistnameselected{
    color: #232;
    width: calc(100% - 20px);
}


.projectlistname .projectpointer {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 2px 0px 8px;
    width: 10px;
    height: 20px;

    opacity: 0;
}

.projectlistnameselected .projectpointer {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: -1px 2px 0px 8px;
    width: 20px;
    height: 20px;
    background-image: url(/images/select_arrow.png);
    background-size: 20px 20px;
    opacity: 1;
}


.projectlistname:hover {
    background-color: #EEE;
    width: calc(100%);
}

.projectcatlist {
    list-style: none;
    margin: 0px 0px 0px 0px;
    width: inherit;
    padding: 0px;
    
    border-top: 1px solid #DDD;
}

.projectcatlistother {
    list-style: none;
    width: inherit;
    padding: 4px 0px 4px 0px;
    margin: 0px;
    background-color: #FFF;
    color: #232;
}

.projectcatlistother:hover {
    background-color: #F5F5F5;
    width: 100%;
}

.projectcatlist p {
    font-size: 0.9em;
    width: inherit;
    margin: 0px 0px 0px 35px;
}

.projectcatlistother .subprojectpointer {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 1px 2px 0px 16px;
    width: 15px;
    height: 15px;
    background-image: url(/images/select_arrow.png);
    background-size: 15px 15px;
    opacity: 0;
}

.projectcatlistselected .subprojectpointer {
    opacity: 1;
}

#mainpart {
    position: static;
    padding: 0px 0px 0px 0px;
    margin: 145px 0px 0px 183px;
    float: left;
    width: calc(70% - 206px);
}

#mainparttotal {
    width: 100%;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

#projectsmainlist {
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

.mainproject {
    overflow: auto;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0px 0px 5px 0px;
}

.projectname {
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 1px 0px 1px 0px;
    border-top: 1px solid rgba(150,150,150,1);
    background-color: #FFFFFF;
    position: relative;
    overflow: auto;
}

#projectinfoname {
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 1px 0px 1px 0px;
    border-top: 1px solid rgba(150,150,150,1);
    background-color: #FFFFFF;
    position: relative;
    display: table;
}

.projectname p {
    opacity: 1;
    font-size: 2em;
    padding: 0px;
    margin: 0px 5px 0px 10px;
    padding: 15px 10px 15px 10px;
    text-align: left;
    position: absolute;
    background-color: white;
}

#projectinfoname p {
    opacity: 1;
    font-size: 2em;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    width: inherit;
    text-align: center;
    
    display: table-cell;
    vertical-align: middle;
}

.projecttypelabel {
    margin: 15px 15px 15px 0px;
    height: 40px;
    width: 40px;
    float: right;
    background-size: 40px 40px;
}

.labelweb {
    background-image: url(/images/internet_small.png);
}

.labelmobile {
    background-image: url(/images/mobile_small.png);
}

.labelpc {
    background-image: url(/images/pc_small.png);
}

.labelem {
    background-image: url(/images/em_small.png);
}

.projectsubtitle {
    width: 100%;
    height: 30px;
    background-color: rgba(202, 216, 228, 0.5);
    border-width: 1px 0px 1px 0px;
    border-style: solid solid solid solid;
    border-color: rgba(100,100,100,0.3);
}

.projectsubtitle p {
    opacity: 1;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0px;
    margin: 1px 0px 0px 15px;
    color: #000000;
    margin: 4px 0px 0px 20px;
    font-family: "Helvetica";
}

.projectpart {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: auto;
}

.projectcontent {
    padding: 10px 0px 10px 0px;
}

.projectcontent p {
    font-family: "Helvetica";
    font-size: 1.05em;
    line-height: 130%;
    margin: 10px 20px 10px 20px;
    font-weight: 300;
}

.projectcontent h4 {
    font-size: 1.05em;
    line-height: 130%;
    margin: 10px;
    font-family: "Helvetica";
}

.projectcontent ul {
    margin: 20px 0px 15px 0px;
    list-style-type: none;
    padding: 0px 20px 0px 20px;
}

.projectcontent li {
    margin: 0px 0px 25px 0px;
}

.projectcontent li p {
    padding: 0px 20px 0px 20px;
}

.threevertshots {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px 0px 0px 0px;
    width: 70%;
    background-color: #FDFDFD;
    display: block;
    overflow: auto;

}

.threevertshots img {
    width: calc(33% - 4px);
    padding: 0px 0px 0px 0px;
    margin: 0px 2px 0px 2px;
    float: left;
}

.threevertshots p {
    width: inherit;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 0px;
    font-size: 0.9em;
    text-align: center;
    display: none;
}

.fourhorizshots {
    width: calc(70%);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display: block;
}

.fourhorizshots img {
    width: calc(50% - 2px);
    padding: 0px;
}

#infopartouter {
    position: fixed;
    width: calc(30% + 14px);
    margin: 0px 0px 0px 0px;
    right: 0px;
    overflow: auto;
}

#infopart {
    width: 100%;
    background-color: #FFFFFF;
}

.projectdatatitle {
    width: 100%;
    height: 30px;
    background-color: rgba(202, 216, 228, 0.5);
    
    border-width: 1px 0px 1px 0px;
    border-style: solid solid solid solid;
    border-color: rgba(100,100,100,0.3);
}

.projectdatatitle p {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    padding: 4px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: #000000;
    font-family: "Helvetica";
}

.projectdata {
    overflow: auto;
    text-align: center;
}

.projectdatainside {
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0px 10px;
}

.projectdata p {
    opacity: 1;
    font-size: 1.2em;
    font-weight: 300;
    padding: 1px 0px 0px 0px;
    margin: 4px;
    color: #000000;
    font-family: "Helvetica";
}

.linkblock {
    display: block;
    float: left;
    margin: 3px;
    padding: 4px;
    border: 3px solid white;
    border-radius: 10px;
}

.linkblock:hover {
    border-color: #1C2733;
}

.linkblock p {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0;
}

.linkblock img {
    height: 80px;
    margin-top: 5px;
}

.otherblock {
    display: block;
    float: left;
    margin: 3px;
    padding: 4px;
    border: 3px solid white;
    border-radius: 10px;
}

.otherblock p {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0;
}

.otherblock img {
    height: 80px;
    margin-top: 5px;
}

.video {
    margin: 0px 0px 5px 0px;
}

.videovert {
    margin: 0px 0px 5px 0px;
}

#lowbar {
    position: static;
    float: left;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 31px;
    background-color: #222222;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
    border-top: 1px solid rgba(150,150,150,1);
}

#lowbar p {
    padding: 8px 0px 0px 0px;
}

#lowbarcopy {
    margin: 0px 0px 0px 10px;
    padding: 5px 0px 0px 0px;
    font-size: 0.9em;
    float: left;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
}

#lowbaremail {
    margin: 0px 20px 0px 0px;
    padding: 5px 0px 0px 0px;
    float: right;
}