.sidebar {
    width: 250px;
    height: 200%;
    flex-shrink: 0;
    overflow-y: auto;
    position: fixed;
    .sideContent {
        margin: 0;
        padding: 0;
        //flex-grow: 1;
        width: 100%;
        background-color: @theme-light-2;
        color: @theme-dark-2;
        min-height: 50%;
        display: flex;
        flex-direction: column;
        .siteTitle {
            font-family: 'Source Code Pro';
            font-size: 36px;
            font-weight: 300;
            flex-grow: 0;
            margin: 2px 0 0px 0px;
            align-self: center;
        }
        .siteSubtitle {
            font-weight: 300;
            font-size: 19px;
            font-family: 'Source Code Pro';
            margin: 4px 8px 10px 15px;
            align-self: center;
        }
        .portraitLink {
            width: 90%;
            align-self: center;
        }
        .portrait {
            width: 100%;
            border-radius: 5px;
            margin-top: 0px;
            filter: sepia(30%);
        }

        .pageLinkList {
            list-style: none;
            padding: 0;
            width: 100%;
            display: flex;
            color: white;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
            border-top: 1px solid rgba(100,59,15,0.5);
            flex-shrink: 0;
            Link {
                text-decoration: none;
            }
            .pageLink {
                padding-left: 20px;
                cursor: hand;
                height: 32px;
                //width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(100,59,15,0.5);
                text-decoration: none;
                color: #222222;
                &:hover {
                    background-color: @theme-light-0;
                    color: #222222;
                }
                &.activePage {
                    font-weight: 700;
                    color: #222222;
                    .subpageSubtitle {
                        font-weight: 400;
                    }
                }
            }
            .pageLinkCategory {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                color: #FFF;
                text-decoration: none;
                border-bottom: 1px solid rgba(100,59,15,0.5);
                .pageLink {
                    &.childPageLink {
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: space-around;
                        border-bottom: 0px solid @theme-light-0;
                        border-top: 1px solid rgba(100,59,15,0.3);
                        padding: 4px 4px 4px 30px;
                        .subpageTitle {
                            //margin-top: 4px;
                            margin: 0;
                        }
                        .subpageSubtitle {
                            color: @theme-dark-1;
                            margin: 0;
                            //margin-bottom: 8px;
                            font-size: 13px;
                        }
                    }
                    &.categoryTitle {
                        padding-left: 20px;
                        border-top: 0px solid @theme-light-0;
                        border-bottom: 0px solid @theme-light-0;
                        .expandSymbol {
                            margin-right: 16px;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                        }
                    }
                }
                &.collapsed {
                    .pageLink {
                        border-bottom: 0px solid @theme-light-0;
                        &.childPageLink {
                            z-index: -1;
                            opacity: 0;
                            padding: 0;
                            position: absolute;
                        }
                        &.categoryTitle {
                            height: 32px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .mediaLinks {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            align-self: center;
            margin-top: 20px;
            a:link, a:visited {
                text-decoration: none;
                color: black;
            }
            .mediaLink {
                font-size: 36px;
                text-align: center;
                &:hover {
                    opacity: 0.7;
                }
                &.mail {
                    font-size: 32px;
                }
            }
        }
        .filler {
            flex-grow: 1;
        }
        .footer {
            margin: 16px 0 16px 20px;
            padding: 0;
        }
    }
}